<!doctype html>
<html lang="fr">
	<head>
    <meta charset="utf-8">
</head>
    <title>Suivi</title>
    <center>
        <h1 style="color:green">Suivez l'avancée de votre colis!</h1>
        <h2>{{ tracking_verified}}</h2>
            <form method="POST">
                <label>
            <input type="search" name="EmailUser" placeholder="Email" class="wpcf7-form-control wpcf7-text">
        </label> <br>
        <button type="submit" value="Rechercher" class="wpcf7-form-control wpcf7-submit"> Rechercher </button>

        <div class="data">
        <b>
            <p>
                {{ error_mail }}
            </p>
        {% if status == 200 %}
            <p>
                {% if wait_reception != None %}
                    <p>
                    <img src="{{ image_waitreception }}">
                    </p>
                {% endif %}
            </p>
            <p>
                {% if received != None %}
                    <p>
                    <img src="{{ image_received }}">
                    </p>
                {% endif %}
            </p>
            <p>
                {% if meeting_fixed != None %}
                    <p>
                    <img src="{{ image_meetingfixed }}">
                    </p>
                {% endif %}
            </p>
            <p>
                {% if delivered_to_client != None %}
                    <p>
                    <img src="{{ image_delivered }}">
                    </p>
                {% endif %}
            </p>
            <p>
                {% if order_canceled != None %}
                    <p>
                    <img src="{{ image_canceled }}">
                    </p>
                {% endif %}
            </p>
        </b>
        </div>

            <div>

            <p>
                <b>Nom de votre relais:</b> {{ relayName }}
            </p>
            <p>
                <b>Adresse relais :</b> {{ relayAddress }}
            </p>
                <p>
                    <b>Maps: </b> <a href="{{ relayMaps }}">{{ relayMaps }}</a>
                </p>
                 <p>
                <b>Rendez-vous:</b> <a href="{{ result_meeting }}">{{ result_meeting }}</a><br>
                <a href="{{ change_meeting }}">{{ change_meeting }}</a>
            </p>
             <p>
                <table border="1" cellspacing="1" cellpadding="5">
                    <tr>
                        <td>&nbsp;</td>
                        <td>Lundi</td>
                        <td>Mardi</td>
                        <td>Mecredi</td>
                        <td>Jeudi</td>
                        <td>Vendredi</td>
                        <td>Samedi</td>
                        <td>Dimanche</td>
                    </tr>

                    <tr>
                        <td>Matin</td>
                        <td> {{ monday_morning }}</td>
                        <td> {{ thursday_morning }}</td>
                        <td> {{ wednesday_morning }}</td>
                        <td> {{ tuesday_morning }}</td>
                        <td> {{ friday_morning }}</td>
                        <td> {{ saturday_morning }}</td>
                        <td> {{ sunday_morning }}</td>
                    </tr>
                    <tr>
                        <td>Aprés-midi</td>
                        <td> {{ monday_afternoon }}</td>
                        <td> {{ thursday_afternoon }}</td>
                        <td> {{ wednesday_afternoon }}</td>
                        <td> {{ tuesday_afternoon }}</td>
                        <td> {{ friday_afternoon }}</td>
                        <td> {{ saturday_afternoon }}</td>
                        <td> {{ sunday_afternoon }}</td>
                    </tr>
                </table>
            </p>
                   {% endif %}
        </div>


            </form>
    </center>

</html>
